{#
/**
 * @file
 * Default theme implementation to display a paragraph.
 *
 * Available variables:
 * - paragraph: Full paragraph entity.
 *   Only method names starting with "get", "has", or "is" and a few common
 *   methods such as "id", "label", and "bundle" are available. For example:
 *   - paragraph.getCreatedTime() will return the paragraph creation timestamp.
 *   - paragraph.id(): The paragraph ID.
 *   - paragraph.bundle(): The type of the paragraph, for example, "image" or "text".
 *   - paragraph.getOwnerId(): The user ID of the paragraph author.
 *   See Drupal\paragraphs\Entity\Paragraph for a full list of public properties
 *   and methods for the paragraph object.
 * - content: All paragraph items. Use {{ content }} to print them all,
 *   or print a subset such as {{ content.field_example }}. Use
 *   {{ content|without('field_example') }} to temporarily suppress the printing
 *   of a given child element.
 * - attributes: HTML attributes for the containing element.
 *   The attributes.class element may contain one or more of the following
 *   classes:
 *   - paragraphs: The current template type (also known as a "theming hook").
 *   - paragraphs--type-[type]: The current paragraphs type. For example, if the paragraph is an
 *     "Image" it would result in "paragraphs--type--image". Note that the machine
 *     name will often be in a short form of the human readable label.
 *   - paragraphs--view-mode--[view_mode]: The View Mode of the paragraph; for example, a
 *     preview would result in: "paragraphs--view-mode--preview", and
 *     default: "paragraphs--view-mode--default".
 * - view_mode: View mode; for example, "preview" or "full".
 * - logged_in: Flag for authenticated user status. Will be true when the
 *   current user is a logged-in member.
 * - is_admin: Flag for admin user status. Will be true when the current user
 *   is an administrator.
 *
 * @see template_preprocess_paragraph()
 *
 * @ingroup themeable
 */
#}
{%
  set classes = [
    'paragraph',
    'paragraph--type--' ~ paragraph.bundle|clean_class,
    view_mode ? 'paragraph--view-mode--' ~ view_mode|clean_class,
    not paragraph.isPublished() ? 'paragraph--unpublished'
  ]
%}

{% block paragraph %}
{{ attach_library('futurospossiveis2021/paragraph--banner-principal') }}
	<div{{attributes.addClass(classes)}}>
		{% block content %}
			<div class="banner-main-container " style="background-image: url({{ file_url(content.field_imagem['#items'].entity.uri.value) }})">
      <ul class="redes">
                        <li>
                            <a href="https://casafirjan.com.br" target="_blank">
                                <i class="icon-casa-firjan"></i>
                            </a>
                        </li>
                        <li>
                            <a href="https://www.instagram.com/casafirjan/" target="_blank">
                                <i class="icon-instagram"></i>
                            </a>
                        </li>
                        <li>
                            <a href="https://www.linkedin.com/company/firjan/" target="_blank">
                                <i class="icon-linkedin2"></i>
                            </a>
                        </li>
                    </ul>
      <div class="container d-flex">
        <div class="row align-items-center">
          <div class="col-md-6 d-flex flex-column align-items-start justify-content-center mb-5 mb-md-0 ">
            <div class="event-date">{{ content.field_data_evento.0 }}</div>
            <div class="event-title">
              <div class="title">{{content.field_titulo.0|raw}}</div>
              <div class="year">{{content.field_ano_do_evento.0|raw}}</div>
            </div>
            <div class="event-text">
              {{content.field_descricao.0|e|striptags|trim}}
            </div>
          </div>
          <div class="col-md-6">
            <div class="webform-cadastro">


              {{ { '#type': 'webform', '#webform': 'cadastro_novo_2022' } }}


<!-- Modal Experiencia Imersiva-->
<div>
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-body">
            <div class="close-modal">
                  <button type="button" class="close" data-dismiss="modal">
                      <span aria-hidden="true">&times;</span>
                  </button>
            </div>
              <form class="formXpImersiva">
                  <div class="firstStep">
                        <h3>E se o futuro chamasse Talvez?</h3>
                        <!-- <p>Inscreva-se gratuitamente nos painéis e palestras e receba em breve a programação completa do Summit Firjan IEL + Festival Futuros Possíveis 2021.</p>                    -->
                        <p>
                            Escolha um dos dias disponíveis e inscreva-se gratuitamente na experiência imersiva. As vagas são limitadas e a atividade será realizada por ordem de acesso à sala virtual.
                        </p>
                        <div class="form-group name">
                            <input class="form-control text-white" id="nome" type="text" placeholder="Nome completo" required>
                            <div class="invalid-feedback">
                            Digite o seu nome completo.
                            </div>
                        </div>
                        <div class="form-group email">
                            <input class="form-control  text-white" id="email" type="email"  placeholder="E-mail" required>
                            <div class="invalid-feedback">
                            Digite um e-mail válido.
                            </div>
                        </div>
                        <div class="form-group nacionalidade">
                          <label class="text-white">Nacionalidade:</label>
                          <div class="form-check">
                            <input class="form-check-input" type="radio" name="nacionalidade" id="brasileiro" value="Brasileiro" required>
                            <label class="form-check-label" for="brasileiro">Brasileiro</label>
                          </div>
                          <div class="form-check">
                            <input class="form-check-input" type="radio" name="nacionalidade" id="estrangeiro" value="Estrangeiro" required>
                            <label class="form-check-label" for="estrangeiro">Estrangeiro</label>
                            <div style="clear:both;"></div>
                            <div class="invalid-feedback">
                            Selecione uma nacionalidade.
                            </div>
                            <br/>
                          </div>
                        </div>
                        <div class="form-group cpf" style="display:none;">
                            <input class="form-control text-white" id="cpf" type="text" placeholder="CPF" >
                            <div class="invalid-feedback">
                            Digite um CPF válido.
                            </div>
                        </div>
                        <div class="form-group passaporte"  style="display:none;">
                            <input class="form-control text-white" id="passaporte" type="text" placeholder="Passaporte">
                            <div class="invalid-feedback">
                            Digite o seu passaporte.
                            </div>
                        </div>

                    <div class="form-group cnpj">
                        <input class="form-control text-white" id="cnpj" type="text" placeholder="CNPJ">
                        <div class="invalid-feedback">
                        Digite um CNPJ válido.
                        </div>
                    </div>

                    <div class="form-group nome-empresa">
                        <input class="form-control text-white" id="empresa" type="text" placeholder="Nome da Empresa">
                    </div>
                        <div class="form-group date check-box-content required">
                            <label class="text-white">Selecione a data que deseja participar da EXPERIÊNCIA IMERSIVA  </label>
                                <div class="check-data">
                                    <label class="form-check-label" for="dia17">

                                            17/11

                                    </label>
                                    <input class="form-check-input " type="checkbox" value="1711" id="dia17" >
                                </div>
                                <div class="check-data">
                                    <label class="form-check-label" for="dia18">

                                            18/11

                                    </label>
                                    <input class="form-check-input " type="checkbox" value="1811" id="dia18" >
                                </div>

                                <div class="check-data">
                                    <label class="form-check-label" for="dia19">

                                            19/11

                                    </label>
                                    <input class="form-check-input " type="checkbox" value="1911" id="dia18" >
                                </div>


                            <div class="invalid-feedback">
                            Informe a data que deseja
                            </div>
                        </div>
                        {% if customPage.lgpd.ei %}
                        <div id="accordion" class="accordion-lgpd">
                            <div class="card">
                                <div id="collapseFour" class="collapse show" aria-labelledby="headingFour" data-parent="#accordion">
                                    <div class="card-body">
                                        {{ customPage.lgpd.ei|raw }}
                                    </div>
                                </div>

                                <div class="card-header" id="headingFour">
                                    <h5 class="mb-0 dropdown"data-toggle="collapse" data-target="#collapseFour" aria-expanded="true" aria-controls="collapseFour">
                                        <div class="btn btn-link" >
                                            Termos de Privacidade e LGPD
                                        </div>
                                    </h5>
                                </div>
                            </div>

                        </div>
                        {% endif %}

                       <div class="form-group">
                         <div class="form-check ">
                        <input class="form-check-input " type="checkbox" value="" id="termos" required>
                        <label class="form-check-label" for="termos">
                            <p>Eu aceito os <a href="https://www.firjan.com.br/lumis/portal/file/fileDownload.jsp?fileId=2C908A8A6DF44571016E036CC1840834" target="_blank">termos de uso</a> do site.</p>
                        </label>
                        <div class="invalid-feedback">
                            É preciso aceitar os Termos de Uso do site.
                        </div>

                        </div>
                       </div>
                        <div class="alert alert-danger" style="display:none;" role="alert"></div>
                        <a class="btn btn-lg btn-success btnNext first" onclick="gtag('event','clique',{'event_category':'formulario','event_label':'bt-finalizar-exp'});">Finalizar Inscrição</a>
                  </div>
                  <div class="finishStep">
                      <br/>
                      <br/>
                      <h3 style="text-align:center;">Inscrição efetuada! <br/><br/>Em breve entraremos em contato com mais informações.</h3>
                      <br/>
                      <br/>

                  </div>
              </form>
        </div>
      </div>
    </div>
  </div>



              <div class="btnSingIn btnSingIn--card-hotsite">
                      <a href="javascript:void(0);" class="cta-body" data-toggle="modal" data-target="#modalInscricao">INSCREVA-SE</a>
                  </div>

<ul class="redes">
                        <li>
                            <a href="https://casafirjan.com.br" target="_blank">
                                <i class="icon-casa-firjan"></i>
                            </a>
                        </li>
                        <li>
                            <a href="https://www.instagram.com/casafirjan/" target="_blank">
                                <i class="icon-instagram"></i>
                            </a>
                        </li>
                        <li>
                            <a href="https://www.linkedin.com/company/firjan/" target="_blank">
                                <i class="icon-linkedin2"></i>
                            </a>
                        </li>
                    </ul>

              </div>


            </div>
          </div>
        </div>
      </div>


			</div>
		{% endblock %}
	</div>
{% endblock paragraph %}
