<main data-controller="palestras" class="palestras_transmissao">
    <section id="diaTransmissao"class="banner banner__{{ customPage.live }} {% if customPage.logged_in %}access{% else %}noAccess{% endif %}">
        
        <div class="container">
            <div class="row">
                <div class="col-12">               
                    <img src="{{ logo }}" title="Summit Firjan IEL + Futuros Possíveis 2021" alt="Logo do evento Summit Firjan IEL + Futuros Possíveis 2021"></img>
                    <!-- <img src="{{ customPage.logo }}" title="Summit Firjan IEL + Futuros Possíveis 2021" alt="Logo do evento Summit Firjan IEL + Futuros Possíveis 2021"></img> -->
                    
                    {# <a href="javascript:void(0);" class="cta" data-toggle="modal" data-target="#modalInscricao">Quero saber em primeira mão</a> #}
                    {# <p class="ctaText">Já cadastrou seus dados? <a href="/user/login">Faça seu login.</a></p>                  #}
                    {#
                    <div class="btnSingIn">
                        {% if logged_in %}
                            <a href="{{ customPage.palestra }}}" class="cta-body cta-body__banner">ACESSAR PALESTRAS</a> 
                        {% else %}
                            <a href="javascript:void(0);" class="cta-body cta-body__banner" data-toggle="modal" data-target="#modalInscricao" onclick="gtag('event','clique',{'event_category':'formulario','event_label':'bt-insc-evento'});"> QUERO ME INSCREVER</a> 
                        {% endif %}
                    </div> 
                    #}
                    <ul class="redes">
                        <!-- inicio -->
                        <li>
                            <a href="{{ customPage.redes.instagram }}" target="_blank">
                                <i class="icon-instagram"></i>
                            </a>
                        </li>
                        <li>
                            <a href="{{ customPage.redes.facebook }}" target="_blank">
                                <i class="icon-facebook"></i>
                            </a>
                        </li>
                        <li>
                            <a href="{{ customPage.redes.twitter }}" target="_blank">
                                <i class="icon-twitter"></i>
                            </a>
                        </li>
                        <li>
                            <a href="{{ customPage.redes.linkedin }}" target="_blank">
                                <i class="icon-linkedin2"></i>
                            </a>
                        </li>
                        <!-- fim -->


                        {% if customPage.redes.instagram %}
                        <li>
                            <a href="{{ customPage.redes.instagram }}" target="_blank">
                                <i class="icon-instagram"></i>
                            </a>
                        </li>
                        {% endif %}
                        
                        {% if customPage.redes.facebook %}
                        <li>
                            <a href="{{ customPage.redes.facebook }}" target="_blank">
                                <i class="icon-facebook"></i>
                            </a>
                        </li>
                        {% endif %}
                       
                        {% if customPage.redes.twitter %}
                        <li>
                            <a href="{{ customPage.redes.twitter }}" target="_blank">
                                <i class="icon-twitter"></i>
                            </a>
                        </li>
                        {% endif %}
                        {% if customPage.redes.linkedin %}
                        <li>
                            <a href="{{ customPage.redes.linkedin }}" target="_blank">
                                <i class="icon-linkedin2"></i>
                            </a>
                        </li>
                        {% endif %}
                    </ul>
                    

                </div>
            </div>
        </div>

        <!-- remocao classe parallax -->
         <div class="parallax videobg-quality">   
            <video  muted="true" autoplay="true" preload="metadata" loop="true" autoplay muted loop playsinline>                
                {# <source src="/themes/futurospossiveis2021/static/video/firjan-bg-video.webm" type="video/webm"> #}
                <source src="/themes/futurospossiveis2021/static/video/firjan-home-video-2021.mp4" type="video/mp4">
            </video>
        </div>           
    </section>
    {% if customPage.logged_in %}
        <section class="timeline" > {# id="nav" #}
            <div class="container">
                <div class="row navPalestras" >{# id="nav" #}
                    <div class="col-12">
                        
                        <ul>
                            {% for dia in customPage.dias %}
                            <li class="{{ (dia.active) ? 'active' : 'none' }}">
                                <a href="{{dia.url}}#nav"><span class="dia-evento"> {{ dia.nome }} </span> {{ dia.data }}/2021</a>
                            </li>
                            {% endfor %}
                            
                        </ul>
                    </div>
                </div>
                <div id="nav"></div>
                <div class="row headline">
                    <div class="col-12">
                        {% if customPage.titulo_interno %}
                            <p class="title">{{customPage.titulo_interno}}</p>
                        {%endif %}
                        {% if customPage.descricao %}
                            <div class="text">
                                {{customPage.descricao|raw}}
                            </div>
                        {%endif %}
                    </div>
                </div>
                {% for dia in customPage.dias %}
                    {% if dia.active %}
                    <div class="row titlePalestras">
                        <div class="col-12">                    
                            <p>{{ dia.nome }}</p>
                        </div>
                    </div>
                    <style> #diaTransmissao:before{ content: "{{ dia.nome }} |"; }</style>
                    {% endif %}
                {% endfor %}
                    
                <div class="col-12 {# col-md-12 col-lg-8 #} player">
                    {# <button type="button" class="btn btn-secondary btn-sm language pt">View broadcast in english</button> #}
                    <div style="padding:28% 0;position:relative;" id="tramissaoDiv">
                        <iframe class="iframePlayer"  src="https://player.vimeo.com/video/{{ customPage.link_ptbr }}" style="position:absolute;top:0;left:0;width:100%;height:100%;" frameborder="0" allow="autoplay; fullscreen" allowfullscreen="" data-vimeo-tracked="true"></iframe>
                    </div>
                    <script src="https://player.vimeo.com/api/player.js"></script>
                    {% if customPage.link_chat %}
                        <iframe class="iframeChat" src="{{customPage.link_chat}}" width="100%" height="500px" frameborder="0"></iframe>
                    {% endif %}       

                    <div class="language-select">
                        <span>
                            escolha seu idioma/ choose your language
                        </span>
                        <div class="language-btn">
                            <div class="portuguese-btn  toggle-language toggle-language__selected">
                                <a href="javascript:void(0)" data-target="#tramissaoDiv" data-video="https://player.vimeo.com/video/{{ customPage.link_ptbr }}">Português</a>
                                <div class="flag"></div>
                            </div>
                            <div class="english-btn toggle-language toggle-language">
                                <a href="javascript:void(0)" data-target="#tramissaoDiv" data-video="https://player.vimeo.com/video/{{ customPage.link_en }}">English</a>
                                <div class="flag"></div>
                            </div>
                        </div>
                    </div>
                    <div class="shareIcons">
                        <p class="share-text">
                            Compartilhe:
                        </p>
                        <div class="sharethis-inline-share-buttons"></div>
                        <script type='text/javascript' src='https://platform-api.sharethis.com/js/sharethis.js#property=6193be3103623200125f69bf&product=sop' async='async'></script>                
                    </div>
                        
                </div>
                
                {# {% for key, palestra in customPage.conteudo.palestras %}
                <div class="row itemPalestra" data-vid="{{ palestra.live_pt }}" data-viden="{{ palestra.live_en }}" data-nid="{{ palestra.nid }}">
                    <div class="col-12 d-flex flex-column flex-md-row">
                        <div class="video order-2 order-md-1">
                            <a href="javascript:void(0);" data-toggle="modal" data-target="#modalTransmissao">
                                {%if palestra.live_pt_img %}
                                    <img src="{{ palestra.live_pt_img }}"> 
                                {% else %}
                                    <img src="https://placeimg.com/316/213/tech">
                                {% endif %}
                            </a>
                            {% if palestra.live_pt %}
                                <a href="javascript:void(0);" class="cta" data-toggle="modal" data-target="#modalTransmissao">CLIQUE E ASSISTA</a>
                            {% else %}
                                <a class="cta">Transmissão ainda não disponível</a>
                            {% endif %}
                        </div>
                        <div class="number order-1 order-md-2">
                            <span>
                                <img src="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAEAAAABCAQAAAC1HAwCAAAAC0lEQVR42mNkYAAAAAYAAjCB0C8AAAAASUVORK5CYII=">
                                <p>{{ key + 1 }}</p>
                            </span>
                        </div>
                        <div class="inf order-3 order-md-3">
                            {#<p class='horario'>{{palestra.horaInicio}} - {{palestra.horaFim}}{{(palestra.aovivo) ? '<span class="tagOnLive">TRANSMITINDO AO VIVO</span>' : ''}}</p>#}
                            {# {# <h2>{{palestra.titulo}}</h2>
                            
                            {% if palestra.mediador %}
                                <p>{{palestra.mediador}}</p>
                            {% endif %}
                            {% if palestra.palestrante %}
                            <p>Palestrante{% if palestra.palestrante|length > 1 %}s{% endif %}</p>
                            {% for palestranteNome in palestra.palestrante %}
                                <p><strong>{{palestranteNome.nome}}</strong> ({{palestranteNome.funcao}})</p>
                            {% endfor %}
                            {% endif %}
                        </div>
                    </div>
                </div>
                {% endfor %} #} 
            
                <div class="row enquete">
                    {% if customPage.conteudo.visivel %}
                    <div class="col-12">
                        <h2>
                            {{ customPage.conteudo.titulo }}
                        </h2>
                        {{ customPage.conteudo.texto|raw }}
                    </div>
                    {% endif %}
                    {% if customPage.pesquisa.visivel %}
                    <div class="col-12">
                        <h2>
                            {{ customPage.pesquisa.titulo }}
                        </h2>
                        {{ customPage.pesquisa.texto|raw }}
                        {% if customPage.pesquisa.link %}
                            <div class="btnSingIn">
                                <a href="{{customPage.pesquisa.link}}" target="_blank" class="cta-body" >{{customPage.pesquisa.link_label}}</a>
                            </div>                             
                        {% endif %}
                    </div>                
                    {% endif %}
                </div>

                
            </div>
                
        </section>
        {% if customPage.interacao.visivel %}
            <section class="row qrcode">
                <div class="container">
                    <div class="row">
                        {% if customPage.interacao.imagem %}
                            <div class="col-md-6 col-sm-12">
                                <div class="qr-code-item">
                                    <img src="{{customPage.interacao.imagem}}" title="QR Code" alt="QR Code"></img>
                                </div>
                            </div>
                            <div class="col-md-6 col-sm-12">
                                <div class="qr-code-text">
                                    <h2>
                                        {{ customPage.interacao.titulo }}
                                    </h2>
                                    {{ customPage.interacao.texto|raw }}
                                </div>
                            </div>
                        {% else %}
                            <div class="col-md-12 col-sm-12">
                                <div class="qr-code-text">
                                    <h2>
                                        {{ customPage.interacao.titulo }}
                                    </h2>
                                    {{ customPage.interacao.texto|raw }}
                                </div>
                            </div>
                        {% endif %}
                    </div>
                </div>                
            </section>
        {% endif %}
    {% else %}
        <div class="noAccess">
            <h2>Você precisa fazer login para acessar esta página.</h2>
            <div class="btnSingIn">           
                    <a href="/user/login" class="cta-body cta-body__banner">CLIQUE AQUI PARA FAZER LOGIN</a>            
            </div>         
        </div>
    {% endif %}
</main>



<!-- Modal de Transmissão -->
<div class="modal fade" id="modalTransmissao" tabindex="-1" role="dialog" aria-labelledby="modalInscricaoLabel" aria-hidden="true" data-vid="" data-viden="">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title"></h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                  <span aria-hidden="true">&times;</span>
                </button>
              </div>
            <div class="modal-body">
                <div class="container-fluid">
                    <div class="row">
                        <div class="col-12 {# col-md-12 col-lg-8 #} player">
                            <button type="button" class="btn btn-secondary btn-sm language pt">View broadcast in english</button>
                            <div style="padding:56.25% 0 0 0;position:relative;">
                                <iframe class="iframePlayer" src="" style="position:absolute;top:0;left:0;width:100%;height:100%;" frameborder="0" allow="autoplay; fullscreen" allowfullscreen></iframe>
                            </div>
                            {#<script src="https://player.vimeo.com/api/player.js"></script>#}
                        </div>
                        {#<div class="col-12 col-md-12 col-lg-4 chat">#}
                        {#    <iframe class="iframeChat" src="" width="100%" height="100%" frameborder="0"></iframe>#}
                        {#</div>#}
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>