<main data-controller="home" class="home hotsite">

    <section class="banner banner__video">
        <div class="video-mask-lines"></div>
        <div class="container">
            <div class="row">
                <div class="col-12 landing-grid">

    <img src="{{ customPage.logo }}" title="Summit Firjan IEL + Futuros Possíveis 2022" alt="Logo do evento Summit Firjan IEL + Futuros Possíveis 2022"></img>

    <div class="festival-edicoes-anteriores-headline">
        {{ customPage.introducao.headline|raw }}
    </div>
      <div class="form-container">
            {% if page.form_message %}
            <div class="form-message">
              {{ page.form_message }}
            </div>
            {% endif %}
            {{ { '#type': 'webform', '#webform': 'contact' } }}
      </div>

                    <ul class="redes">
                        <li>
                            <a href="{{ customPage.redes.facebook }}" target="_blank">
                                <i class="icon-casa-firjan"></i>
                            </a>
                        </li>
                        <li>
                            <a href="{{ customPage.redes.instagram }}" target="_blank">
                                <i class="icon-instagram"></i>
                            </a>
                        </li>
                        <li>
                            <a href="{{ customPage.redes.linkedin }}" target="_blank">
                                <i class="icon-linkedin2"></i>
                            </a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
       {# Help #}
        {% if page.help %}
        <div class="container">
            <div class="row">
            <div class="festival-edicoes-anteriores">
                {% block help %}
                {{ page.help }}
            </div>
            </div>
        </div>
        {% endblock %}
        {% endif %}

        <div class="parallax videobg-quality">
            <video  muted="true" autoplay="true" preload="metadata" loop="true" autoplay muted loop playsinline>
                <source src="/themes/futurospossiveis2021/static/video/firjan-home-video-2021.mp4" type="video/mp4">
            </video>
        </div>
    </section>

</main>
