<main data-controller="home" class="home">
    
    {# <section class="banner">
        <div class="container">
            <div class="row">
                <div class="col-12">
                    <img src="{{ customPage.logo }}" title="Summit Firjan IEL + Futuros Possíveis 2020" alt="Logo do evento Summit Firjan IEL + Futuros Possíveis 2020"></img>
                    <a href="javascript:void(0);" class="cta" data-toggle="modal" data-target="#modalInscricao">Inscreva-se!</a>
                    <p class="ctaText">Já cadastrou seus dados? <a href="/user/login">Faça seu login.</a></p>                 
                </div>
            </div>
        </div>
        <div class="backupParallax" style="background-image: url(/themes/futurospossiveis2021/static/img/bg_topo_home.jpg);"></div>
        <div class="parallax" data-parallax-image="/themes/futurospossiveis2021/static/img/bg_topo_home.jpg"></div>
    </section> #}

    <section class="banner banner__video">
        <div class="video-mask-lines"></div>
        <div class="container">
            <div class="row">
                <div class="col-12">
                    <img src="{{ customPage.logo }}" title="Summit Firjan IEL + Futuros Possíveis 2021" alt="Logo do evento Summit Firjan IEL + Futuros Possíveis 2021"></img>
                    {# <a href="javascript:void(0);" class="cta" data-toggle="modal" data-target="#modalInscricao">Quero saber em primeira mão</a> #}
                    {# <p class="ctaText">Já cadastrou seus dados? <a href="/user/login">Faça seu login.</a></p>                  #}
                    <div class="btnSingIn">
                        <a href="javascript:void(0);" class="cta-body cta-body__banner" data-toggle="modal" data-target="#modalInscricao" onclick="gtag('event','clique',{'event_category':'formulario','event_label':'botao-quero-me-inscrever-1})"> QUERO ME INSCREVER</a> 
                    </div>
                    <ul class="redes">
                        {% if customPage.redes.instagram %}
                        <li>
                            <a href="{{ customPage.redes.instagram }}" target="_blank">
                                <i class="icon-instagram"></i>
                            </a>
                        </li>
                        {% endif %}
                        
                        {% if customPage.redes.facebook %}
                        <li>
                            <a href="{{ customPage.redes.facebook }}" target="_blank">
                                <i class="icon-facebook"></i>
                            </a>
                        </li>
                        {% endif %}
                       
                        {% if customPage.redes.twitter %}
                        <li>
                            <a href="{{ customPage.redes.twitter }}" target="_blank">
                                <i class="icon-twitter"></i>
                            </a>
                        </li>
                        {% endif %}
                        {% if customPage.redes.linkedin %}
                        <li>
                            <a href="{{ customPage.redes.linkedin }}" target="_blank">
                                <i class="icon-linkedin2"></i>
                            </a>
                        </li>
                        {% endif %}
                    </ul>
                </div>
            </div>
        </div>
        <!-- remocao classe parallax -->
        <div class="parallax videobg-quality">   
            <video  muted="true" autoplay="true" preload="metadata" loop="true" autoplay muted loop playsinline>                
                {# <source src="/themes/futurospossiveis2021/static/video/firjan-bg-video.webm" type="video/webm"> #}
                <source src="/themes/futurospossiveis2021/static/video/firjan-home-video-2021.mp4" type="video/mp4">
            </video>
        </div>   

    </section>
    {% if customPage.countdown.visivel %}  
        <section class="countdown" data-evento="{{ customPage.countdown.data }}" >
            <div class="anchor" id="vem_ai"></div>
        <div class="container">
            <div class="row">
                
                <div class="col-12 d-flex justify-content-center numeros">
                    <div class="dias">
                        <p>00</p>
                        <p>dias</p>
                    </div>
                    <div class="divider">:</div>
                    <div class="horas">
                        <p>00</p>
                        <p>horas</p>
                    </div>
                    <div class="divider">:</div>
                    <div class="minutos">
                        <p>00</p>
                        <p>minutos</p>
                    </div>
                    <div class="divider">:</div>
                    <div class="segundos">
                        <p>00</p>
                        <p>segundos</p>
                    </div>
                </div>

            </div>
        </div>
        </section>    
    {% endif %}
    {% if customPage.introducao.visivel %}
    <section class="headline bgDefault" id="headline">
        <div class="container">
            <div class="row">
                <div class="col-12">            
                    <div class="text ">
                        {{ customPage.introducao.headline|raw }}
                    </div>
                </div>
                <div class="col-12">
                    <div class="embed-container" style="width:100% !important;">
                        <iframe src="https://www.youtube.com/embed/{{ customPage.introducao.video_introducao }}" frameborder="0"></iframe>
                    </div>
                    {# <iframe width="560" height="315" src="https://www.youtube.com/embed/T8P5EKJ1Jk4" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe> #}
                </div>
            </div>
        </div>
    </section>
    {% endif %}
    {% if customPage.quemPassou.visivel %}
    <section class="quem_passou bgDefault">
        <div class="anchor" id="quem_passou"></div>
        <div class="container">
            <div class="row">
                <div class="col-12">   
                    <h3 class="title title__default">{{ customPage.quemPassou.titulo }}</h3>
                    {{ customPage.quemPassou.texto|raw }}
                    {# <p class="center-align">
                        Em três edições, o Festival Futuros Possíveis reuniu dezenas de especialistas, pensadores, líderes e intelectuais, brasileiros e estrangeiros, que apresentaram as mais variadas visões de futuros possíveis, que mesmo ainda distantes já emitem sinais de impacto na vida das pessoas e empresas.
                    </p>
                    <p class="center-align">
                        Assista às pílulas de conteúdo com alguns dos principais nomes que já estiveram conosco.
                    </p> #}
                </div>
            </div>
        </div>
        <div class="container-fluid">
            <div class="row">             
                <div class="owl-carousel">                       
                    {% for video in customPage.conteudo.quemPassou %}
                    <div class="item">
                        <a class="setVideo" href="javascript:void(0);" data-toggle="modal" data-target="#modalQuemPassou" data-description="{{ video.description }}" data-title="{{ video.title }} {% if video.ano %}({{ video.ano }}){% endif %}" data-video="{{ video.url }}" href=""><img src="{{ video.thumb }}" /><i></i></a>
                        <p class="palestrante-nome">{{ video.title }}</p>
                    </div> 
                    {% endfor %}                    
                </div>            
            </div>
        </div>
        <div class="container">
            <div class="btnSingIn">
                <a href="javascript:void(0);" class="cta-body" data-toggle="modal" data-target="#modalInscricao" onclick="gtag('event','clique',{'event_category':'formulario','event_label':'botao-quero-me-inscrever-2})">QUERO ME INSCREVER</a>
            </div>
        </div>
    </section>
    {% endif %}

    {% if customPage.edicoesAnteriores.visivel %}
    <section class="edicoes_anteriores bgDefault">
        <div class="anchor" id="edicoes_anteriores"></div>
        <div class="container">
            <div class="row">
                <div class="col-12">   
                    <h3 class="title title__default">{{ customPage.edicoesAnteriores.titulo }}</h3>
                    {{ customPage.edicoesAnteriores.texto|raw }}
                </div>
            </div>

            <div class="row">
                <div class="col-md-3">
                    <a class="card-space cta" id="itemEdicaoAnterior-1" href="{{ customPage.edicoesAnteriores.linkbanner1 }}" target="_blank" >
                        <img src="{{ customPage.edicoesAnteriores.banner1.img }}" alt="{{ customPage.edicoesAnteriores.banner1.alt }}">
                    </a>                    
                </div>
                <div class="col-md-3">
                    <a class="card-space cta" id="itemEdicaoAnterior-2" href="{{ customPage.edicoesAnteriores.linkbanner2 }}" target="_blank" >
                        <img src="{{ customPage.edicoesAnteriores.banner2.img }}" alt="{{ customPage.edicoesAnteriores.banner2.alt }}">
                    </a>                    
                </div>
                <div class="col-md-3">
                    <a class="card-space cta" id="itemEdicaoAnterior-3" href="{{ customPage.edicoesAnteriores.linkbanner3 }}" target="_blank" >
                        <img src="{{ customPage.edicoesAnteriores.banner3.img }}" alt="{{ customPage.edicoesAnteriores.banner3.alt }}">
                    </a>                    
                </div>
                <div class="col-md-3">
                    <a class="card-space cta" id="itemEdicaoAnterior-4" href="{{ customPage.edicoesAnteriores.linkbanner4 }}" target="_blank" >
                        <img src="{{ customPage.edicoesAnteriores.banner4.img }}" alt="{{ customPage.edicoesAnteriores.banner4.alt }}">
                    </a>                    
                </div>
            </div>
        </div>       
    </section>    
    {% endif %}
    {% if customPage.publicacoes.visivel %}
    <section class="publicacoes bgDefault" id="publicacoes">
        <div class="container">
            <div class="row">
                <div class="col-12">   
                    <h3 class="title  title__default">{{ customPage.publicacoes.titulo }}</h3>
                    {{ customPage.publicacoes.texto|raw }}
                </div>
            </div>
            <div class="row">
                <div class="owl-container">
                    <div class="owl-carousel-publicacoes owl-theme">

                        {% for publicacao in customPage.conteudo.publicacoes %}
                        <div class="item ">
                            <div class="content-publicacoes">
                                {# <a href=""><img src="{{ publicacao.thumb }}" /></a> #}
                                <img src="{{ publicacao.thumb }}" />
                                <h3 class="item-title">
                                    {{ publicacao.title }}
                                </h3>
                                <p class="item-des">
                                    {{ publicacao.description }}
                                </p>
                                <a class="btnAction btnAction--highlight-yellow" href="{{ publicacao.url }}" target="_blank">LEIA MAIS</a>
                            </div>
                        </div> 
                        {% endfor %}                      
                    </div>
                </div>
            </div>
        </div>
    </section>
    {% endif %}
    <section class="pb-5">
        <div class="container">
            <div class="row">
                <div class="col">                    
                    <div class="btnSingIn">
                        <a href="javascript:void(0);" class="cta-body" data-toggle="modal" data-target="#modalInscricao" onclick="gtag('event','clique',{'event_category':'formulario','event_label':'botao-quero-me-inscrever-3})">QUERO ME INSCREVER</a>
                    </div>
                </div>
            </div>
        </div>
    </section>
</main>

<!-- Modal Inscrição aqui -->
<div class="modal fade" id="modalInscricao" tabindex="-1" role="dialog" aria-labelledby="modalInscricaoLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-body">
          <div class="close-modal">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
          </div>
            <form class="formInscricao">
                <div class="firstStep">
                    <h3>Saiba tudo em primeira mão</h3> 
                    <p>Inscreva-se gratuitamente nos painéis e palestras e receba em breve a programação completa do Summit Firjan IEL + Festival Futuros Possíveis 2021.</p>                   
                    <div class="form-group mt-4">
                        <input class="form-control text-white" id="nome" type="text" placeholder="Nome completo" required>
                        <div class="invalid-feedback">
                          Digite o seu nome completo.
                        </div>
                    </div>
                    <label class="text-white">Nacionalidade:</label>
                    <div class="form-check">
                      <input class="form-check-input" type="radio" name="nacionalidade" id="brasileiro" value="Brasileiro" required>
                      <label class="form-check-label text-secondary" for="brasileiro">Brasileiro</label>
                    </div>
                    <div class="form-check">
                      <input class="form-check-input" type="radio" name="nacionalidade" id="estrangeiro" value="Estrangeiro" required>
                      <label class="form-check-label text-secondary" for="estrangeiro">Estrangeiro</label>
                      <div style="clear:both;"></div>
                      <div class="invalid-feedback">
                          Selecione uma nacionalidade.
                        </div>
                        <br/>
                    </div>
                    <div class="form-group" style="display:none;">
                        <input class="form-control text-white" id="cpf" type="text" placeholder="CPF" >
                        <div class="invalid-feedback">
                          Digite um CPF válido.
                        </div>
                    </div>
                    <div class="form-group"  style="display:none;">
                        <input class="form-control text-white" id="passaporte" type="text" placeholder="Passaporte">
                        <div class="invalid-feedback">
                          Digite o seu passaporte.
                        </div>
                    </div>
                    <div class="form-group">
                        <input class="form-control  text-white" id="email" type="email"  placeholder="E-mail" required>
                        <div class="invalid-feedback">
                          Digite um e-mail válido.
                        </div>
                    </div>
                    <div class="form-group">
                        <input class="form-control text-white" id="empresa" type="text" placeholder="Nome da Empresa">
                    </div>
                    <div class="form-group">
                        <input class="form-control text-white" id="cnpj" type="text" placeholder="CNPJ (opcional)">
                        <div class="invalid-feedback">
                          Digite um CNPJ válido.
                        </div>
                    </div>
                    <div class="form-group">
                        <input class="form-control text-white" id="senha" type="password" placeholder="Crie sua senha (mínimo 6 caracteres)" minlength="6" required>
                        <div class="invalid-feedback">
                          Crie sua senha. (mínimo 6 caracteres)
                        </div>
                      </div>     
  
                      <div class="form-group">
                        <input class="form-control text-white" id="senha2" type="password" placeholder="Confirme sua senha" minlength="6" required>
                        <div class="invalid-feedback">
                          Confirmação inválida! Verifique.
                        </div>
                      </div> 
                      
                    <div class="form-group">
                        <label class="text-white">Como ficou sabendo do Summit Firjan IEL + Festival Futuros Possíveis 2021?</label>
                        <select  class="form-control ffp-select text-white" name="como_ficou_sabendo" id="como_ficou_sabendo" required>
                            <option value="">Selecione</option>
                            <option value="google">Busca no Google</option>
                            <option value="site_firjan">Site Firjan</option> </option>
                            <option value="site_casa">Site Casa Firjan</option>
                            <option value="email_marketing">E-mail marketing</option>
                            <option value="facebook">Facebook</option>
                            <option value="instagram">Instagram @casafirjan</option>
                            <option value="linkedin">Linkedin</option>
                            <option value="twitter">Twitter</option>
                            <option value="whatsapp">WhatsApp</option>
                            <option value="imprensa">Imprensa</option>
                            <option value="indicacao">Indicação de empresa, amigo ou familiar</option>
                            <option value="outro">Outro</option>                       
                        </select>
                        <div class="invalid-feedback">
                          Informe como ficou sabendo.
                        </div>
                    </div>
                    <div class="form-group" style="display:none;">
                        <input class="form-control text-white" id="outro_como_ficou_sabendo" type="text" placeholder="Como ficou sabendo?">
                        <div class="invalid-feedback">
                          Digite como ficou sabendo.
                        </div>
                    </div>
                    <div class="form-check ">
                      <input class="form-check-input " type="checkbox" value="" id="termos" required>
                      <label class="form-check-label" for="termos">
                        <p>Eu aceito os <a href="https://www.firjan.com.br/lumis/portal/file/fileDownload.jsp?fileId=2C908A8A6DF44571016E036CC1840834" target="_blank">termos de uso</a> do site.</p>
                      </label>
                      <div class="invalid-feedback">
                          É preciso aceitar os Termos de Uso do site.
                      </div>
                      
                    </div>
                    <div class="alert alert-danger" style="display:none;" role="alert"></div>
                    <a class="btn btn-lg btn-success btnNext first" onclick="gtag('event','clique',{'event_category':'formulario-enviado','event_label':'botao-finalizar-inscricao})">Finalizar Inscrição</a>
                </div>
                <div class="secondStep">
                    <h3>Deseja participar de nossas oficinas?</h3>
                    <p>Selecione abaixo as oficinas e/ou atividades escolhidas (opcional):</p>
                    {% for key, oficina in customPage.conteudo.oficinas.itens %}
                    <div class="form-check">
                        {% if not oficina.filhos %}
                            <input class="form-check-input" type="checkbox" value="{{oficina.nid}}" id="oficina{{key}}">
                            <label class="form-check-label" for="oficina{{key}}">
                                <p>
                                    {{oficina.tipo}}: {{oficina.titulo}}<br/>
                                    <strong>Valor: </strong>{{oficina.investimento}}<br/>
                                </p>
                            </label>
                            <div class="detalheOfinica">
                                <a href="javascript:void(0);"class="btn btn-sm btn-dark"><span>+</span> detalhes</a>
                                <div class="texto">
                                    <p>{{oficina.descricao}}</p><br>
                                    <p>
                                        {% if oficina.data %}Data da oficina: {{oficina.data}} - {{oficina.horario}}<br>{% endif %}
                                        {% if oficina.facilitacao %}
                                        Facilitação: {{oficina.facilitacao}}<br>
                                        {% endif %}
                                        Duração: {{oficina.duracao}}
                                    </p>
                                </div>
                            </div>
                        {% else %}
                            <p>
                                {{oficina.tipo}}: {{oficina.titulo}}<br/>
                                <strong>Valor: </strong>{{oficina.investimento}}<br/>
                            </p>
                            <div class="detalheOfinica">
                                <a href="javascript:void(0);"class="btn btn-sm btn-dark"><span>+</span> detalhes</a>
                                <div class="texto">
                                    <p>{{oficina.descricao}}</p><br>
                                    <p>
                                        {% if oficina.filhos[0].data and oficina.filhos|last.data%}
                                            Datas: De {{ oficina.filhos[0].data }} a {{ oficina.filhos|last.data }}<br/>
                                        {% endif %}
                                        Duração: {{oficina.duracao}}
                                    </p>
                                </div>
                                
                            </div>
                            <div style="padding: 0 0 26px 25px;">
                            {% for keyOf, filhoOf in oficina.filhos %}
                                    <div>
                                        <input class="form-check-input" type="checkbox" value="{{filhoOf.nid}}" id="oficinaOf{{keyOf}}">
                                        <label class="form-check-label" for="oficinaOf{{keyOf}}">
                                            <p>
                                                <span style="display:block; position:absolute; width:1px; height:px; opacity:0">{{filhoOf.tipo}}: {{filhoOf.titulo}} - </span>{{filhoOf.horario}}
                                            </p>
                                        </label>
                                    </div>
                                {% endfor %}
                                </div>
                        {% endif %}
                    </div>
                    {% endfor %}
                    <div class="alert alert-danger" style="display:none;" role="alert"></div>
                    <button type="button" class="btn btn-secondary btn-sm btnBack second">↩ Voltar</button>
                    <a class="btn btn-lg btn-success btnNext second">Avançar</a>
                    <button type="submit" class="btnSubmit btn btn-lg btn-success" >Finalizar Inscrição</button>
                </div>
                <div class="thirdStep">
                    <h3>Falta pouco...</h3>
                    <p>Preencha os dados abaixo para finalizar a sua inscrição na oficina:</p>
                    <div class="form-group">
                        <input class="form-control text-white required" id="nascimento" type="text" placeholder="Data de nascimento">
                    </div>
                    <div class="form-group">
                        <input class="form-control text-white required" id="telefone" type="text" placeholder="Telefone">
                    </div>
                    <div class="form-group">
                        <input class="form-control text-white required" id="cep" type="text" placeholder="CEP">
                        <div class="invalid-feedback">
                          Digite um CEP válido.
                        </div>
                    </div>
                    <div class="form-group">
                        <input class="form-control text-white required" id="endereco" type="text" placeholder="Endereço completo">
                    </div>
                    <div class="form-group">
                        <input class="form-control text-white required" id="numero" type="text" placeholder="Número">
                    </div>
                    <div class="form-group">
                        <input class="form-control text-white" id="complemento" type="text" placeholder="Complemento">
                    </div>
                    <div class="oficinasEscolhidas">
                        <p class="title">Oficinas selecionadas:</p>
                        <div class="target">
                            
                        </div>
                    </div>
                    <div class="alert alert-danger" style="display:none;" role="alert"></div>
                    <button type="button" class="btn btn-secondary btn-sm btnBack third">↩ Voltar</button>
                    <button type="submit" class="btn btn-lg btn-success btnSubmit">Finalizar Inscrição</button>
                </div>
                <div class="finishStep">
                    <br/>
                    <br/>
                    <h3 style="text-align:center;">Inscrição efetuada! <br/><br/>Em breve entraremos em contato com mais informações.</h3>
                    <br/>
                    <br/>
                    <button type="button" class="btn btn-secondary btn-sm btnBack">↩ Fazer outra inscrição</button>
                    <br/>
                    <br/>
                </div>
            </form>
      </div>
    </div>
  </div>
</div>


<!-- Modal Edições Anteriores -->
{# <div class="modal fade" id="modalEdicoesAnteriores" tabindex="-1" role="dialog" aria-labelledby="modalEdicoesAnterioresLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-body">
            <div class="title">
                <h3>Festival Futuros Possíveis 2018</h3>
            </div>
            <div class="description">
                <p>
                    Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages, and more recently with desktop publishing software like Aldus PageMaker including versions of Lorem Ipsum.
                </p>
            </div>
            <div class="player">
                <div class="embed-container">
                    <iframe id="playView" src="https://www.youtube.com/embed/T8P5EKJ1Jk4" frameborder="0"></iframe>
                </div>
                <h4>Título do vídeo</h4>
            </div>
            <ul class="movies">
                
                <li class="movie-item">
                    <img src="https://placeimg.com/265/155/any" alt="">
                    <p> Lorem Ipsum is simply dummy text of the printing and typesetting industry. 1</p>
                    <a class="playDispach" href="#" data-movie="https://www.youtube.com/embed/AdQ3JDLlmPI">Assistir</a>
                </li>
                <li class="movie-item">
                    <img src="https://placeimg.com/265/155/any" alt="">
                    <p> Lorem Ipsum is simply dummy text of the printing and typesetting industry. 1</p>
                    <a class="playDispach" href="#" data-movie="https://www.youtube.com/embed/T8P5EKJ1Jk4">Assistir</a>
                </li>
                <li class="movie-item">
                    <img src="https://placeimg.com/265/155/any" alt="">
                    <p> Lorem Ipsum is simply dummy text of the printing and typesetting industry. 1</p>
                    <a class="playDispach" href="#" data-movie="https://www.youtube.com/embed/66VnOdk6oto">Assistir</a>
                </li>
                <li class="movie-item">
                    <img src="https://placeimg.com/265/155/any" alt="">
                    <p> Lorem Ipsum is simply dummy text of the printing and typesetting industry. 1</p>
                    <a class="playDispach" href="#" data-movie="https://www.youtube.com/embed/AdQ3JDLlmPI">Assistir</a>
                </li>
                <li class="movie-item">
                    <img src="https://placeimg.com/265/155/any" alt="">
                    <p> Lorem Ipsum is simply dummy text of the printing and typesetting industry. 1</p>
                    <a class="playDispach" href="#" data-movie="https://www.youtube.com/embed/T8P5EKJ1Jk4">Assistir</a>
                </li>
                <li class="movie-item">
                    <img src="https://placeimg.com/265/155/any" alt="">
                    <p> Lorem Ipsum is simply dummy text of the printing and typesetting industry. 1</p>
                    <a class="playDispach" href="#" data-movie="https://www.youtube.com/embed/66VnOdk6oto">Assistir</a>
                </li>
                <li class="movie-item">
                    <img src="https://placeimg.com/265/155/any" alt="">
                    <p> Lorem Ipsum is simply dummy text of the printing and typesetting industry. 1</p>
                    <a class="playDispach" href="#" data-movie="https://www.youtube.com/embed/AdQ3JDLlmPI">Assistir</a>
                </li>
                <li class="movie-item">
                    <img src="https://placeimg.com/265/155/any" alt="">
                    <p> Lorem Ipsum is simply dummy text of the printing and typesetting industry. 1</p>
                    <a class="playDispach" href="#" data-movie="https://www.youtube.com/embed/T8P5EKJ1Jk4">Assistir</a>
                </li>
                <li class="movie-item">
                    <img src="https://placeimg.com/265/155/any" alt="">
                    <p> Lorem Ipsum is simply dummy text of the printing and typesetting industry. 1</p>
                    <a href="#" data-movie="https://www.youtube.com/embed/T8P5EKJ1Jk4">Assistir</a>
                </li>
                <li class="movie-item">
                    <img src="https://placeimg.com/265/155/any" alt="">
                    <p> Lorem Ipsum is simply dummy text of the printing and typesetting industry. 1</p>
                    <a class="playDispach" href="#" data-movie="https://www.youtube.com/embed/66VnOdk6oto">Assistir</a>
                </li>
                <li class="movie-item">
                    <img src="https://placeimg.com/265/155/any" alt="">
                    <p> Lorem Ipsum is simply dummy text of the printing and typesetting industry. 1</p>
                    <a class="playDispach" href="#" data-movie="https://www.youtube.com/embed/AdQ3JDLlmPI">Assistir</a>
                </li>
                <li class="movie-item">
                    <img src="https://placeimg.com/265/155/any" alt="">
                    <p> Lorem Ipsum is simply dummy text of the printing and typesetting industry. 1</p>
                    <a class="playDispach" href="#" data-movie="https://www.youtube.com/embed/T8P5EKJ1Jk4">Assistir</a>
                </li>
                <li class="movie-item">
                    <img src="https://placeimg.com/265/155/any" alt="">
                    <p> Lorem Ipsum is simply dummy text of the printing and typesetting industry. 1</p>
                    <a class="playDispach" href="#" data-movie="https://www.youtube.com/embed/66VnOdk6oto">Assistir</a>
                </li>
                <li class="movie-item">
                    <img src="https://placeimg.com/265/155/any" alt="">
                    <p> Lorem Ipsum is simply dummy text of the printing and typesetting industry. 1</p>
                    <a class="playDispach" href="#" data-movie="https://www.youtube.com/embed/AdQ3JDLlmPI">Assistir</a>
                </li>
                <li class="movie-item">
                    <img src="https://placeimg.com/265/155/any" alt="">
                    <p> Lorem Ipsum is simply dummy text of the printing and typesetting industry. 1</p>
                    <a class="playDispach" href="#" data-movie="https://www.youtube.com/embed/T8P5EKJ1Jk4">Assistir</a>
                </li>
            </ul>
            <a class="loadMore" id="loadMore" href="#">Veja mais</a>
        </div>
      </div>
    </div>
  </div> #}

  <!-- Modal Quem Já Passou Por Aqui -->
<div class="modal fade defaultModal" id="modalQuemPassou" tabindex="-1" role="dialog" aria-labelledby="modalQuemPassouLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-body">
                <div class="close-modal">
                    <a id="closeQuemPassou" data-dismiss="modal"  href="javascript:void(0);">X</a>
                </div>
            <div class="title">
                <h3>Design de soluções baseadas em dados, com Letícia Pozza| Casa Firjan</h3>
            </div>
            <div class="description">
                <p>
                    Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages, and more recently with desktop publishing software like Aldus PageMaker including versions of Lorem Ipsum.
                    aqui2
                </p>
            </div>
            <div class="player">
                <div class="embed-container">
                    <iframe id="getVideo" src="" frameborder="0"></iframe>
                </div>
            </div>
        </div>
      </div>
    </div>
  </div>