
          <div class="inscricao-festival-wrapper">
            <div class="col-sm-6 col-xs-12 nesletter-block">
              {#<h2 class="title center">Cadastre-se e saiba tudo em primeira mão </h2>#}
                {{ page.form_message }}
                <form{{ attributes }}>
                {{ title_prefix }}
                {{ children }}
                {{ title_suffix }}
                </form>
            </div>
          </div>
