{#
/**
 * @file
 * Bootstrap Barrio's theme implementation to display a node.
 *
 * Available variables:
 * - node: The node entity with limited access to object properties and methods.
     Only "getter" methods (method names starting with "get", "has", or "is")
     and a few common methods such as "id" and "label" are available. Calling
     other methods (such as node.delete) will result in an exception.
 * - label: The title of the node.
 * - content: All node items. Use {{ content }} to print them all,
 *   or print a subset such as {{ content.field_example }}. Use
 *   {{ content|without('field_example') }} to temporarily suppress the printing
 *   of a given child element.
 * - author_picture: The node author user entity, rendered using the "compact"
 *   view mode.
 * - metadata: Metadata for this node.
 * - date: Themed creation date field.
 * - author_name: Themed author name field.
 * - url: Direct URL of the current node.
 * - display_submitted: Whether submission information should be displayed.
 * - attributes: HTML attributes for the containing element.
 *   The attributes.class element may contain one or more of the following
 *   classes:
 *   - node: The current template type (also known as a "theming hook").
 *   - node--type-[type]: The current node type. For example, if the node is an
 *     "Article" it would result in "node--type-article". Note that the machine
 *     name will often be in a short form of the human readable label.
 *   - node--view-mode-[view_mode]: The View Mode of the node; for example, a
 *     teaser would result in: "node--view-mode-teaser", and
 *     full: "node--view-mode-full".
 *   The following are controlled through the node publishing options.
 *   - node--promoted: Appears on nodes promoted to the front page.
 *   - node--sticky: Appears on nodes ordered above other non-sticky nodes in
 *     teaser listings.
 *   - node--unpublished: Appears on unpublished nodes visible only to site
 *     admins.
 * - title_attributes: Same as attributes, except applied to the main title
 *   tag that appears in the template.
 * - content_attributes: Same as attributes, except applied to the main
 *   content tag that appears in the template.
 * - author_attributes: Same as attributes, except applied to the author of
 *   the node tag that appears in the template.
 * - title_prefix: Additional output populated by modules, intended to be
 *   displayed in front of the main title tag that appears in the template.
 * - title_suffix: Additional output populated by modules, intended to be
 *   displayed after the main title tag that appears in the template.
 * - view_mode: View mode; for example, "teaser" or "full".
 * - teaser: Flag for the teaser state. Will be true if view_mode is 'teaser'.
 * - page: Flag for the full page state. Will be true if view_mode is 'full'.
 * - readmore: Flag for more state. Will be true if the teaser content of the
 *   node cannot hold the main body content.
 * - logged_in: Flag for authenticated user status. Will be true when the
 *   current user is a logged-in member.
 * - is_admin: Flag for admin user status. Will be true when the current user
 *   is an administrator.
 *
 * @see template_preprocess_node()
 */
#}
{{ attach_library('futurospossiveis2022/futurospossiveis2022') }}

{%
  set classes = [
    'page-id-' ~ node.id, 
    'node--type-' ~ node.bundle|clean_class,
    node.isPromoted() ? 'node--promoted',
    node.isSticky() ? 'node--sticky',
    not node.isPublished() ? 'node--unpublished',
    view_mode ? 'node--view-mode-' ~ view_mode|clean_class,
  ]
%}

<section {{ attributes.addClass(classes) }}>
    <div class="wrap">
        <header class="header w-100">
            <div class="container pt-5 pb-5">
                <div class="row">
                <div class="col-12">
                    <div class="row d-flex justify-content-between align-items-center">
                    {%if file_url(node.field_lp_events_logo.entity.fileuri)%}
                        <div class="col-6">
                        <h1>
                            <img src="{{ file_url(node.field_lp_events_logo.entity.fileuri) }}"/>
                        </h1>
                        </div>
                    {%endif%}

                    {%if node.field_social%}
                        <div class="col-6">
                        <ul class="d-flex justify-content-end align-items-center social-networks">
                            {% for item in node.field_social %}
                                {{ item | view }}
                            {% endfor %}
                        </ul>
                        </div>
                    {%endif%}          
                    </div>
                </div>
                </div>
            </div>
        </header>

        <main class="main w-100">
            <div class="container pb-5">
                <div class="row d-flex align-items-lg-stretch justify-content-between {%if node.field_lp_latest_events%}pb-4 pb-md-5{%endif%}">
                    <div class="col-md-6 lp_events_banner">
                        <h2 class="lp_events_banner_title">{{node.field_lp_events_banner_title.value}}</h2>
                        <h3 class="lp_events_banner_subtitle">{{node.field_lp_events_banner_subtitle.value}}</h3>
                        <p class="lp_events_banner_text">{{node.field_lp_events_banner_text.value}}</p>
                        {%if node.field_lp_events_banner_flag%}
                            <p class="lp_events_banner_flag">
                                <span>{{node.field_lp_events_banner_flag.value}}</span>
                            </p>
                        {%endif%}  
                    </div>
                    <div class="col-md-6 d-lg-flex flex-column justify-content-lg-center align-items-lg-center mt-3 mt-md-0">
                        {{ drupal_entity('block_content', 4) }}
                    </div>        
                </div>  
                {%if node.field_lp_latest_events%}
                <div class="d-flex align-items-center justify-content-center lp_latest_events">
                    <div class="w-100 d-flex flex-column flex-md-row align-items-md-center justify-content-center">
                        <p class="mb-3 mb-md-0"><span class="fab fa-youtube"></span> Assista as edições anteriores:</p>
                        <ul class="d-flex flex-wrap justify-content-md-center align-items-stretch ps-md-3">
                            {% for item in node.field_lp_latest_events %}
                                {{ item | view }}
                            {% endfor %}
                        </ul>              
                    </div> 
                </div>           
                {%endif%}            
            </div>
        </main>
    </div>

    {%if file_url(node.field_lp_events_videobg.entity.fileuri)%}
      <video class="lp_events_videobg" muted autoplay loop>
        <source src="{{ file_url(node.field_lp_events_videobg.entity.fileuri) }}" type="video/mp4">
        Your browser does not support the video tag.
      </video>
    {%else%}
        {%if file_url(node.field_lp_events_imagebg.entity.fileuri)%}
        <style>
            body {
            background: url({{file_url(node.field_lp_events_imagebg.entity.fileuri)}}) center center / cover no-repeat;
            }      
        </style>
        {%endif%}    
    {%endif%}
</section>